<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ApiKey" value="API_KEY"/>
        <add key="Summoner1Id" value="SUMMONER1_ID"/>
        <add key="Summoner2Id" value="SUMMONER2_ID"/>
        <add key="Summoner1Name" value="SUMMONER1_NAME"/>
        <add key="Summoner2Name" value="SUMMONER1_NAME"/>
        <add key="Team1Id" value="TEAM1_ID"/>
        <add key="Team2Id" value="TEAM2_ID"/>
        <add key="GameId" value="GAME_ID"/>
    </appSettings>
</configuration>