<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ApiKey" value="188d3c83-580b-40ed-96f6-62c6433f7bd3"/>
        <add key="Summoner1Id" value="21150716"/>
        <add key="Summoner2Id" value="20937547"/>
        <add key="Summoner1Name" value="Wipp"/>
        <add key="Summoner2Name" value="StopOFlop"/>
    </appSettings>
</configuration>