<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net45+win+wpa81" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable-net45+win+wpa81" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable-net45+win+wpa81" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable-net45+win+wpa81" />
</packages>