<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="188d3c83-580b-40ed-96f6-62c6433f7bd3"/>
        <add key="Summoner1Id" value="20937547"/>
        <add key="Summoner2Id" value="21150716"/>
        <add key="Summoner1Name" value="StopOFlop"/>
        <add key="Summoner2Name" value="Wipp"/>
        <add key="Team1Id" value="TEAM-218f5cf0-8ac9-11e3-8922-782bcb497d6f"/>
        <add key="Team2Id" value="TEAM-3c97bcd0-6d98-11e2-a7cc-782bcb497d6f"/>
    </appSettings>
</configuration>