<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiKey" value="API_KEY"/>
        <add key="FaultyApiKey" value="FAULTY_API_KEY"/>
        <add key="Summoner1Id" value="1"/>
        <add key="Summoner2Id" value="2"/>
        <add key="Summoner1Name" value="A"/>
        <add key="Summoner2Name" value="B"/>
        <add key="Team1Id" value="TEAM-id"/>
        <add key="Team2Id" value="TEAM-id2"/>
        <add key="GameId" value="3"/>
        <add key="Region" value="euw"/>
    </appSettings>
</configuration>